#about{
    display: flex;
    min-height: calc(100dvh - 88px);
    padding: 88px 0px 0px 0px;
    justify-content: center;
    align-items: center;
}
#about-card{
    display: flex;
    width: 70dvw;
    padding: 24px;
    margin: 20px 0px;
    background-color: var(--color-neutral_0);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    justify-items: center;
    align-items: center;
}
.profile{
    display: none;
}
.about__content{

    h1{
        font-size: 2.7em;
        text-align: center;
    }
    p{
        text-indent: 1em;
        line-height: 1.5em;
        margin-top: 10px;
    }
}

@media screen and (min-width: 600px) and (max-width: 1280px) {
    #about-card{
        flex-flow: column nowrap;
        padding: 0px;
    }
    .profile{
        display: block;
        width: 100%;
        height: 20dvh;

        img{
            height: 100%;
            width: 100%;
        }
    }
    .about__content{
        padding: 24px;
    }
}

@media screen and (min-width: 1280px) {
    #about-card{
        padding: 0px;
    }
    .profile{
        display: block;
    }
    .about__content{
        padding: 24px;
    }
}