footer{
    background-color: var(--color-primal_1);
    padding: 50px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 50px;

    a{
        text-decoration: none;
        color: var(--color-neutral_0);
        text-align: center;
    }
    .logo-img{
        font-size: 2em;
        display: flex;
        flex-flow: column;
        
        strong{
            font-size: .8em;
        }
    }
}
.contact{
    display: flex;
    color: var(--color-neutral_0);
    font-size: 1.5em;
    flex-flow: row nowrap;
    gap: 20px;
    cursor: pointer;

}
.copy{
    color: var(--color-neutral_0);
    font-size: .6em;
}