.header {
  background-color: var(--color-primal_2);
  width: 100%;
  position: fixed;
  z-index: 10;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.header--scrolled {
  background-color: var(--color-primal_1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 8%;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

.header__logo {
  color: var(--color-neutral_0);
  font-size: 1.5em;
}
.header__logo-link {
  text-decoration: none;
  color: var(--color-neutral_0);
}

.header__menu {
  display: flex;
  gap: 40px;
  font-size: 1.2em;
}
.header__menu-link {
  color: var(--color-neutral_0);
  text-decoration: none;
  transition: text-decoration 0.3s ease;
}
.header__menu-link:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

.header__mobile-menu {
  display: none;
  color: var(--color-neutral_0);
  font-size: 1.5em;
  cursor: pointer;
  background: none;
  border: none;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 600px) {
  .header__menu {
    position: absolute;
    right: 5%;
    top: 90px;
    flex-direction: column;
    gap: 0;
    background-color: var(--color-neutral_0);
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.4s ease-out;
  }
  .header__menu--mobile {
    height: 214px;
    opacity: 1;
  }

  .header__menu-link {
    display: block;
    color: var(--color-neutral_1);
    padding: 15px;
  }

  .header__menu-link:hover {
    text-decoration: none;
    background-color: var(--color-primal_2);
  }

  .header__mobile-menu {
    display: block;
  }
}
