section#home{
    background: url('../assets/wallpaper01.jpg') center center no-repeat;
    background-size: cover;
    min-height: calc(100dvh - 95px);
    display: flex;
}
div#cta{
    background-color: rgba(0, 0, 0, 0.3);
    color: var(--color-neutral_0);
    display: flex;
    flex-flow: column nowrap;
    gap: 50px;
    width: 35%;
    height: 410px;
    padding: 50px;
    margin: auto;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

    #title{
        font-size: 3.5rem;
    }
    #description{
        font-size: 1.4rem;
    }
    .button{
        background-color: var(--color-neutral_0);
        color: var(--color-neutral_1);
        margin-top: 15px;
        font-size: 1.2em;
        border: 1px solid rgba(0, 0, 0, 0.2);
        padding: 10px;
        &:hover{
            background-color: var(--color-primal_1);
        }
    }
}
div#form{
    background-color: var(--color-neutral_0);
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 410px;
    margin: auto;
    padding: 50px;
    gap: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);

    form{
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-align: center;

        div{
            display: flex;
            flex-flow: column nowrap;
            gap: 15px;
        }
        .button{
            background-color: var(--color-primal_1);
            color: var(--color-neutral_0);
            margin-top: 15px;
            font-size: 1.2em;
            &:hover{
                background-color: var(--color-primal_0);
            }
        }
        input{
            border: 1px solid rgba(0, 0, 0, 0.2);
            padding: 10px;
        }
    }
}